body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.sidebar {
    height: 100%; 
    width: 250px;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #282828; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-bottom: 2px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.content {
    margin-left: 250px; 
    padding: 1px 16px;
    height: 1000px;
}

.sidebar a.active {
    background-color: #888888; 
    color: white;
}

#logout {
    background-color: #007bff;
    color: white; 
    border: none;
    margin-top: 360px;
    font-size: 25px;
    padding-right: 95px;
    padding-left: 66px;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#logout:hover {
    background-color: #0056b3;
}

.sidebar-icon {
    width: 24px; 
    height: 24px;
    margin-right: 15px;
}

.sidebar a svg {
    width: 24px; 
    height: 24px; 
}